{
	"root": true,
	"parserOptions": {
		"ecmaVersion": "latest"
	},
	"env": {
		"commonjs": true,
		"es2021": true,
		"node": true
	},
	"parser": "espree",
	"extends": [
		"eslint:recommended",
		"plugin:prettier/recommended"
	],
	"rules": {
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"trailingComma": "all",
				"useTabs": true,
				"semi": true,
				"bracketSpacing": true,
				"printWidth": 100,
				"endOfLine": "auto",
				"indent": [
					"error",
					4
				]
			}
		]
	}
}